@{
    ViewBag.Title = "Konum";
}
<h2>Konum</h2>
<iframe src="https://www.google.com/maps/embed?pb=…"
        width="100%--" height="400" style="border:0;" allowfullscreen=""
        loading="lazy">
</iframe>

