@{
    ViewBag.Title = "Sipariş Onayı";
}

<h2>Sipariş Onayı</h2>
<div class="alert alert-success">
    @ViewBag.Message
</div>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Ana Sayfaya Dön</a>

